<div class="product">
  <div class="product__tile">
    <div class="product__tile__flag"></div>
    <a class="product__tile__link" id="id_213KN300-2082-990" href="{{ product.url | within: collection }}">
      <img class="loaded" data-src="{{ product.media[0] | img_url: 'master' }}" alt="{{ product.media[0].alt }}" title="{{ product.title }}" src="{{ product.media[0] | img_url: 'master' }}">
    </a>
    <div class="product__swatches">
      <div class="product__swatches__attributes">
        <div class="product__swatches__attributes__value">
          <div style="background: #000000">
            <span>
              Black
            </span>
          </div>
        </div>
        <a href="https://www.jacquemus.com/en_fr/la-robe-sierra/213KN300-2082-810.html">
          <div class="product__swatches__attributes__value">
            <div style="background: #d6a94f">
              <span>
                Light Brown
              </span>
            </div>
          </div>
        </a>
        <a href="https://www.jacquemus.com/en_fr/la-robe-sierra/213KN300-2082-430.html">
          <div class="product__swatches__attributes__value">
            <div style="background: #ff70f8">
              <span>
                Pink
              </span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="product__body">
      <div class="product__body__wrapper">
        <div class="product__title">
          <a href="{{ product.url | within: collection }}" class="product__title__content">{{ product.title }}</a>
        </div>
        <div class="product__price">
          <span>
            <span class="product__price__value">
              {{ product.price | money }}
            </span>
          </span>
        </div>
      </div>
      <div class="product__sizes">
        {%- for option in product.options_with_values -%}
          {% if option.name == 'Size' %}
            {%- for value in option.values -%}
              <span class="product__sizes__size ">{{- value | escape -}}</span>
            {%- endfor -%}
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>